@charset "iso-8859-1"

/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

/* Page
-------------------------------------------------------------- */
body {
    background: #F0F0F0;
    font-family: "Helvetica", Arial, sans-serif;
    text-align: center;
    text-shadow: white 1px 1px 0;
}   

#container {
    margin: 0px auto 35px;
    width:825px;
    padding-top: 10px;
}

#main {
    line-height: .01;
}

#footer {
    clear: both;
    color: #CDB7B5;
    font: 15px "Helvetica", Arial, sans-serif;
    margin-top: 15px;
}


#elements a {
    background: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px #FFF;
    -moz-box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px #FFF;
    color: #369;
    font: 13px "Helvetica", Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin: 15px 20px 5px 0;
    padding: 20px 10px 10px;
    text-decoration: none;
    width: 160px;
}

#footer, #footer a {
    color: #8B7D7B;
    text-decoration: none;
}

#footer {
    margin-top: 45px;
}
#footer a {
    margin: 0 10px;
}
#footer a:hover {
    color: #000;
}

h1{
    color: #001111;
	font-size: 82px;
    letter-spacing: -2px;
}
h2{
    color: #8B7D7B;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 1;
    margin-bottom:45px;
    text-transform: uppercase;
}
